<footer class="c-course-footer o-wrapper">
  <div class="c-course-footer__progress">

    {{> course-progress}}

  </div>
  <div class="c-course-footer__controls">

    <div class="c-course-player-wrap">
    {{> course-player}}
    </div>

    <div class="c-course-pager-wrap">
    {{> course-pager}}
    </div>

  </div>

</footer>
