<header class="c-course-header o-wrapper" style="position:relative;">
  {{> course-help type="close"}}
  {{> course-help type="instructions"}}
  <nav class="c-course-header__nav">
  {{> course-nav }}
  </nav>
  <div class="c-course-header__modules">
    {{> course-module-header }}
  </div>
</header>

<div class="c-course-lesson o-wrapper">
  <h2 class="c-course-lesson__heading">
    {{> course-titles type="lesson"}}
  </h2>
</div>
