<a href="#" data-card-flip class="o-flip">

  <div class="o-flip__front">
    <div class="c-flip-card c-flip-card--front {{#if type}}c-flip-card--{{type}}{{/if}}">
      <div class="c-flip-card__body {{fclass}}">
        {{> flip-card-front }}
        <span class="c-flip-card__icon">
          <i class="o-icon o-icon-flip">Flip Card Over</i>
        </span>
      </div>
    </div>
  </div>

  <div class="o-flip__back">
    <div class="c-flip-card c-flip-card--back {{#if type}}c-flip-card--{{type}}{{/if}}">
      <div class="c-flip-card__body {{bclass}}">
        {{> flip-card-back }}
        <span class="c-flip-card__icon">
          <i class="o-icon o-icon-flip">Flip Card Over</i>
        </span>
      </div>
    </div>
  </div>

</a>
