///////////////////////////////////////////////////////////////////////
//
// PRELOADER
//
// ///////////////////////////////////////////////////////////////////


// STYLES
// -------------------------------------------------------------------------
.u-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: find-color(primary,darkest);
  z-index: 2000;
  color: white;
  text-align: center;
}

.u-loader-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 100px;
  width: calc(100% - 200px);
  text-align: center;
  z-index: 2001;
}

.u-loader-inner label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: find-color(primary);
  overflow: hidden;
  border-radius: 50%;
  z-index: 2001;
}



// LOADING ANIMATION
// -------------------------------------------------------------------------
@keyframes pload {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes pload {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.u-loader-inner label:nth-child(4) {
  -webkit-animation: pload 3s 200ms infinite ease-in-out;
  animation: pload 3s 200ms infinite ease-in-out;
}

.u-loader-inner label:nth-child(3) {
  -webkit-animation: pload 3s 300ms infinite ease-in-out;
  animation: pload 3s 300ms infinite ease-in-out;
}

.u-loader-inner label:nth-child(2) {
  -webkit-animation: pload 3s 400ms infinite ease-in-out;
  animation: pload 3s 400ms infinite ease-in-out;
}

.u-loader-inner label:nth-child(1) {
  -webkit-animation: pload 3s 500ms infinite ease-in-out;
  animation: pload 3s 500ms infinite ease-in-out;
}
