///////////////////////////////////////////////////////////////////////
//
// BORDER RADIUS
//
// ///////////////////////////////////////////////////////////////////


// STYLES
// -------------------------------------------------------------------------
.u {
  &-br {
    border-radius: 3px;
  }
  &-br-sm {
    border-radius: 6px;
  }
  &-br-lg {
    border-radius: 12px;
  }
  &-br-round {
    border-radius: 50%;
  }
}
