<div class='c-feedback is-fb-retry'>
  {{!-- {{> close-button }} --}}
  <div class='c-feedback__inner'>
    <h4 class='c-feedback__heading'>Try Again!</h4>
    <p>That was incorrect. Select the 'Try Again' button to continue.</p>
    <button data-q-retry class='l-kc1__btn c-btn c-btn--warning -md -outline u-mb-base'>
      Try Again
    </button>
  </div>
</div>
