<div data-closable class='c-feedback is-fb-correct'>
  {{!-- {{> close-button }} --}}
  <div class='c-feedback__inner'>
    <h4 class='c-feedback__heading'>Great Job!</h4>
    <p>{{> question-correct }}</p>
    <button data-q-adv class='l-kc1__btn c-btn c-btn--secondary -md -outline u-mb-base' disabled>
      Next Question
    </button>
  </div>
</div>
