<div data-closable class='c-feedback is-fb-incorrect'>
  {{!-- {{> close-button }} --}}
  <div class='c-feedback__inner'>
    <h4 class='c-feedback__heading'>That's Incorrect!</h4>
    <p>{{> question-incorrect }}</p>
    <button data-q-adv class='l-kc1__btn c-btn c-btn--alert -md -outline u-mb-base' disabled>
      Next Question
    </button>
  </div>
</div>
