// VA ORG CHART
// ------------------------------------------------------------------


.va-org-chart {
  .vaoalc,
  .oal,
  .olascm,
  .vhaplo,
  .vhal,
  .vba,
  .adushao,
  .vba-2,
  .uhs,
  .pdush,
  .dushom,
  .nca,
  .visncsco,
  .mcd,
  .csco {
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
      .cls-3,
      .cls-9,
      .cls-10,
      .cls-37,
      .cls-45,
      .cls-46,
      .cls-43,
      .cls-50 {
        fill: find-color(secondary,light);
      }

    }
  }
}

.cls-3,
.cls-9,
.cls-10,
.cls-37,
.cls-45,
.cls-46,
.cls-43,
.cls-50 { transition: all .3s ease; }


.cls-1, .cls-2, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 {
  fill: none;
  stroke: #5e89bd;
  stroke-miterlimit: 10;
  stroke-width: 3px; }
.cls-2 { stroke-dasharray: 2.86 2.86; }
.cls-3 { fill: #5e89bd; }
.cls-4 { stroke-dasharray: 3; }
.cls-5 { stroke-dasharray: 2.99 2.99; }
.cls-6 { stroke-dasharray: 3.05 3.05; }
.cls-7 { stroke-dasharray: 3.09 3.09; }
.cls-8 { stroke-dasharray: 3.03 3.03; }
.cls-9 { fill: #fcefec; }
.cls-10 { fill: #ec866b; }
.cls-11, .cls-38, .cls-43, .cls-47 { font-size: 15px; }
.cls-11 { fill: #3f190f; }
.cls-11, .cls-38, .cls-47 { font-family: Roboto-Regular, Roboto; }
.cls-12 { letter-spacing: 0.03em; }
.cls-13 { letter-spacing: 0.02em; }
.cls-14 { letter-spacing: -0.09em; }
.cls-15 { letter-spacing: 0em; }
.cls-16 { letter-spacing: 0.03em; }
.cls-17 { letter-spacing: 0.04em; }
.cls-18 { letter-spacing: -0.02em; }
.cls-19 { letter-spacing: 0.03em; }
.cls-20 { letter-spacing: 0em; }
.cls-21 { letter-spacing: 0.03em; }
.cls-22 { letter-spacing: -0.09em; }
.cls-23 { letter-spacing: 0.02em; }
.cls-24 { letter-spacing: 0.01em; }
.cls-25 { letter-spacing: 0.04em; }
.cls-26 { letter-spacing: 0.01em; }
.cls-27 { letter-spacing: 0em; }
.cls-28 { letter-spacing: -0.03em; }
.cls-29 { letter-spacing: 0.01em; }
.cls-30 { letter-spacing: -0.06em; }
.cls-31 { letter-spacing: 0.02em; }
.cls-32 { letter-spacing: -0.02em; }
.cls-33 { letter-spacing: 0em; }
.cls-34 { letter-spacing: -0.01em; }
.cls-35 { letter-spacing: -0.02em; }
.cls-36 { letter-spacing: 0em; }
.cls-37 { fill: #d6e1ee; }
.cls-38 { fill: #123054; }
.cls-39 { letter-spacing: 0.01em; }
.cls-40 { letter-spacing: -0.01em; }
.cls-41 { letter-spacing: -0.01em; }
.cls-42 { fill: #1b4a83; }
.cls-43, .cls-50 { fill: #fefefe; }
.cls-43 { font-family: Roboto-Bold, Roboto; font-weight: 700; }
.cls-44 { letter-spacing: -0.01em; }
.cls-45 { fill: #f5f6f6; }
.cls-46 { fill: #babfc3; }
.cls-47 { fill: #141617; }
.cls-48 { letter-spacing: -0.02em; }
.cls-49 { letter-spacing: -0.02em; }
