<div class="c-dnd__choice v-hidex js-drag-choice ui-draggable">

<div class="c-dnd__do">
  <button value="Do" class="c-dnd__btn c-dnd__btn--do js-drag-a">
    {{!-- <i class="show-for-sr">Do</i> --}}
  </button>
</div>

<div class="c-dnd__ques js-choice-0{{dnd-answer}}">
  <p class="js-drag-choice-p">{{> dnd-question}}</p>
  <p class="js-drag-fb">{{> dnd-feedback}}</p>
</div>

<div class="c-dnd__dont">
  <button value="Do Not" class="c-dnd__btn c-dnd__btn--dont js-drag-b" tabindex="0">
    {{!-- <i class="show-for-sr">Do Not</i> --}}
  </button>
</div>

</div>
