///////////////////////////////////////////////////////////////////////
//
// REVEAL REFERNCES
//
// ///////////////////////////////////////////////////////////////////


// STYLES
// ------------------------------------------------------------------
.reveal--references {
  background-color: find-color(white);
  border-radius: 0;
  max-width: 900px;
}
