///////////////////////////////////////////////////////////////////////
//
// SUPPLY CHAIN DEFINED
//
// ///////////////////////////////////////////////////////////////////

$lscd-space: spacing(0.5);
$lscd-i: 0;
$lscd-reduce: 24%;
$lscd-start: find-color(primary,darkest);
$lscd-end: find-color(accent);
$lscd-total: 6;
$lscd-mix: 100% / $lscd-total;


// STYLES
// -------------------------------------------------------------------
.l-sc-define {
  position: relative;

  @include breakpoint(medium) {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: $base-shadow-common;
  }

  &__col {
    @include gts-box-common;
    vertical-align: top;

    @include breakpoint(medium) {
      display: table-cell;
      width: percentage(1 / 6);
      height: 100%;
      padding-bottom: rem(120px);
    }

  }

  &__title {
    @include breakpoint(medium) {
      position: absolute;
      bottom: spacing(0.5);
      left: spacing(0.5);
      width: calc(100% - #{$lscd-space * 2});
    }

  }




}

// Generate Colors
@for $i from $lscd-i to $lscd-total {
  $lscd-mix: mix($lscd-start, $lscd-end, percentage($i / ($lscd-total - 1)));
  .l-sc-define__col {
    &:nth-child(#{$i + 2}) {
      background: $lscd-mix;
      .c-icon-stack__title {
        color: color-pick-contrast($lscd-mix, (find-color(white), find-color(text,dark)));
      }
    }
  }
}
