///////////////////////////////////////////////////////////////////////
//
// TRANSITIONS
//
// ///////////////////////////////////////////////////////////////////

@mixin transition(
  $type: all,
  $duration: $base-duration,
  $timing: $base-timing ) {
    transition: $type $duration $timing;
}
