///////////////////////////////////////////////////////////////////////
//
// Stripe Edge
//
// ///////////////////////////////////////////////////////////////////


// Creates a thick stripe along specified edge
// -------------------------------------------------------------------

@mixin stripe-edge (
  $pos: right,
  $bg:  find-color(secondary),
  $bw:   9px
) {
  content:'';
  position: absolute;
  @if $pos == top or $pos == bottom {
    #{$pos}: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: $bw;
  }
  @if $pos == left or $pos == right {
    top: 0;
    #{$pos}: 0;
    display: block;
    width: $bw;
    height: 100%;
  }
  background-color: $bg;
}
