///////////////////////////////////////////////////////////////////////
//
// ABBR LIST
//
// ///////////////////////////////////////////////////////////////////


.c-abbr-list {
  display: table;
  margin-bottom: 0;

  &__dt,
  &__dd {
    display: table-cell;
  }

  &__dt {
    padding-right: 6px;
  }

}
