{{> course-html-head main="u-bg-dark-blue" lesson="Module Review" }}

<article class="o-box o-mh-pad l-module-summary v-hidex">

  <section class="o-box__cell l-module-summary__body">
    <h3 class="l-module-summary__title u-bsb-1x">Module Review</h3>
    <div class="o-pad-box">
    {{> body }}
    </div>
  </section>
  <section class="o-box__cell l-module-summary__media u-bg-dark-blue">

    <div class="l-module-summary__sub v-hidex" data-lsn="{{> course-titles type='lesson-number'}}">
      Module {{> course-titles type="module-number"}}
    </div>
    <h3 class="l-module-summary__heading v-hidex">
      Congratulations!
      <small>You've completed the module</small>
    </h3>

  </section>

</article>

{{> course-html-footer }}
