{{> course-html-head main="u-bg-dark-blue" lesson="Lessons in this Module" }}

<article class="o-box o-mh-pad l-module-pillar v-intro">
  <section class="o-box__cell l-module-pillar__body">

    <div class="c-scms-roof u-bs-common v-hidex">
      <h3 class="c-scms-roof__title">Supply Chain</h3>
      <div class="c-scms-roof__section">
        {{> course-titles type="module-pillars"}}
        {{> course-titles type="lesson-list" class="u-bg-gray-bg u-mt-xs u-mb-0 -lg"}}
      </div>
    </div>

  </section>
</article>

{{> course-html-footer }}





